/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 13px; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/*
========================== code starts =============================
*/

body, html {
  margin: 0;
  padding: 0;
  background: #000;
  width: 100%;
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a, span {
  display: inline-block;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

p a {
  text-decoration: underline;
}

.lightbox {
  position: relative;
  width: 380px;
  height: 580px;
  margin: 0 auto;
  text-align: center;
}

.lightbox_offset {
  padding: 10px 20px 10px;
}

.lightbox_decor {
  width: 380px;
  height: 140px;
}

.lightbox_body {
  width: 380px;
  height: 450px;
  background: url(../images/lightbox-body.png) no-repeat center top;
}

.advertiser_logo {
  padding: 0 0 10px;
  max-height: 50px;
}

.advertiser_logo img {
  max-height: 50px !important;
  max-width: 320px !important;
}

.lightbox h1 {
  color: #59504A;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px #fff;
  font-family: 'Cutive', sans-serif;
}

h1 a {
  border-bottom: 1px dashed transparent;
}

h1 a:hover {
  border-bottom: 1px dashed #59504A;
}

.lightbox p {
  color: #998F84;
  font-size: 12px;
  padding: 5px 0;
  text-shadow: 0 1px #fff;
}

.lightbox .divider {
  height: 4px;
  background: url(../images/divider.png) no-repeat center center;
  padding: 10px 0;
}

.lightbox h2 {
  font-weight: normal;
  font-size: 15px;
  color: #8A807B;
  text-shadow: 0 1px #fff;
  padding-bottom: 5px;
}

.lightbox .textbox {
  width: 205px;
  padding-left: 50px;
  height: 45px;
  margin: 0 auto;
  text-align: left;
  background: url(../images/textbox-sprite.png) no-repeat;
}

.lightbox .textbox.email {
  background-position: 0 -50px;
}

.lightbox .textbox input {
  border: none;
  background: none;
  padding: 10px 10px 10px 0;
  height: 25px;
  outline: none;
  width: 190px;
  color: #999999;
}

.btn_claim {
  width: 254px;
  height: 58px;
  background: url(../images/btn-claim.png) no-repeat;
  border: none;
  outline: none;
  margin-top: 5px;
}

.lightbox .terms {
  color: #998F84;
  font-size: 11px;
}

.terms a {
  color: #736B63;
}

.terms a:hover {
  text-decoration: underline;
}

.progress_bar {
  width: 831px;
  height: 53px;
  background: url(../images/step-1.png) no-repeat center center;
  position: absolute;
  z-index: 2;
  top: 640px;
  left: 50%;
  margin-left: -415px;
}

.progress_bar.step_2 {
  background: url(../images/step-2.png) no-repeat center center;
}

.progress_bar.step_3 {
  background: url(../images/step-3.png) no-repeat center center;
}

.sentbox {
  width: 441px;
  height: 384px;
  background: url(../images/sentbox.png) no-repeat;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -230px;
}

.sentbox p {
  width: 325px;
  color: #FFE4B8;
  text-shadow: 0 -1px rgba(0,0,0,0.45);
  font-family: 'Cutive', sans-serif;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  bottom: 110px;
  right: 42px;
  text-align: center;
}

.sentbox a {
  text-decoration: none;
  padding-left: 4px;
  border-bottom: 1px dashed #FFE4B8;
}

.sentbox a:hover {
  border: none;
}

.btn_send {
  margin: 5px auto;
  display: block;
  border: none;
  outline: none;
  width: 246px;
  height: 37px;
  background: url(../images/btn-send.png) no-repeat;
  background-position: 1px 0;
}

.divider_2 {
  width: 250px;
  height: 14px;
  background: url(../images/divider-2.png) no-repeat center center;
  padding: 5px 0;
  margin: 0 auto;
}

.social_buttons a {
  width: 123px;
  height: 35px;
  background: url(../images/btn-social.png) no-repeat;
}

.social_buttons a.twt {
  background-position: 0 -40px;
}

.disclaimer {
  border-radius: 3px;
  color: rgba(255,255,255,0.85);
  background: rgb(241, 143, 18);
  text-shadow: 0 -1px rgba(0,0,0,0.25);
  font-size: 11px;
  padding: 6px 10px;
  width: 185px;
  position: absolute;
  bottom: 140px;
  left: 325px;
  text-align: left;
  opacity: 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.65);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.disclaimer:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 4px solid transparent;
  border-right: 4px solid rgb(241, 143, 18);
  left: -8px;
  top: 20px;
}

.lightbox:hover .disclaimer {
  opacity: 1;
}

.publisher_logo {
  background: url(../images/logo.png) no-repeat;
  position: absolute;
  top: 10px;
  left: 15px;
}

/* Subject Changing */

#jjbuckley,
#winetasting,
#winetasting_2,
#winetasting_3 {
  background: url(../images/bg-body.jpg) no-repeat center top #000;
}

#bssc {
  background: url(../images/backgrounds/bssc.jpg) no-repeat center top #000;
}

#citygolf {
  background: url(../images/backgrounds/citygolf.jpg) no-repeat center top #000;
}

#harryhasit {
  background: url(../images/backgrounds/harryhasit.jpg) no-repeat center top #000;
}

#rockspot {
  background: url(../images/backgrounds/rockspot.jpg) no-repeat left top #000;
}

#northern_outdoors {
  background: url(../images/backgrounds/northern-outdoors.jpg) no-repeat left top #000;
}

#blue_crab {
  background: url(../images/backgrounds/blue-crab.jpg) no-repeat left top #000;
}

#jjbuckley .publisher_logo {
  background: url(../images/logo.png) no-repeat;
  width: 80px;
  height: 67px;
}

#bssc .publisher_logo {
  background: url(../images/logos/bssc.png) no-repeat;
  width: 134px;
  height: 41px;
}

#citygolf .publisher_logo {
  background: url(../images/logos/citygolf.jpg) no-repeat;
  width: 78px;
  height: 60px;
}

#harryhasit .publisher_logo {
  background: url(../images/logos/harryhasit.jpg) no-repeat;
  width: 212px;
  height: 50px;
}

#rockspot .publisher_logo {
  background: url(../images/logos/rockspot.jpg) no-repeat;
  width: 143px;
  height: 50px;
}

#northern_outdoors .publisher_logo {
  background: url(../images/logos/northern-outdoors.png) no-repeat;
  width: 191px;
  height: 34px;
}

#winetasting .publisher_logo,
#winetasting_2 .publisher_logo,
#winetasting_3 .publisher_logo {
  background: url(../images/logos/winetasting.png) no-repeat;
  width: 138px;
  height: 49px;
}

#blue_crab .publisher_logo {
  background: url(../images/logos/blue-crab.png) no-repeat;
  width: 124px;
  height: 65px;
}

.lightbox_decor.uflowers {
  background: url(../images/decors/uflowers.png) no-repeat center bottom;
}

.lightbox_decor.livingsocial {
  background: url(../images/decors/livingsocial.png) no-repeat center bottom;
}

.lightbox_decor.blue_crab {
  background: url(../images/decors/blue-crab.png) no-repeat center bottom;
}

.lightbox_decor.shoe_buy {
  background: url(../images/decors/shoe-buy.png) no-repeat center bottom;
}

.sentbox_decor {
  width: 380px;
  height: 125px;
  position: absolute;
  margin-left: 40px;
}

.sentbox_decor.uflowers {
  background: url(../images/decors/uflowers.png) no-repeat center top;
}

.sentbox_decor.livingsocial {
  background: url(../images/decors/livingsocial.png) no-repeat center top;
}

.sentbox_decor.blue_crab {
  background: url(../images/decors/blue-crab.png) no-repeat center top;
}

.sentbox_decor.shoe_buy {
  background: url(../images/decors/shoe-buy.png) no-repeat center top;
}



#navigation {
  padding: 25px;
  color: yellow;
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
}

#navigation a {
  display: block;
  margin-bottom: 6px;
}

#navigation a:hover {
  text-decoration: underline;
}

/*
========================== code ends =============================
*/

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visible { display: block !important; visibility: visible; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
